<h2>Create a new Job</h2>

<form id="new-job">
  <p>
	<label for="new-job-title">Title</label>
	<input name="new-job-title" id="new-job-title" type="text">
  </p>
  <textarea name="new-job-content" id="new-job-content"></textarea>
  <p>
	<label for="new-job-keywords">Keywords</label>
	<input name="new-job-keywords" id="new-job-keywords" type="text">
  </p>  
  <input type="submit">
</form><!-- #new-job -->

<hr>

<%= jobs.length %>

<% for (var i = 0, len = jobs.length; i < len; i++) { %>
  <div class="job">
	<h3><%= jobs.models[i].get('title') %></h3>
	<p><%= jobs.models[i].get('description') %></p>

	<% if (typeof jobs.models[i].get('keywords') == 'string') { %>

		<span class="keyword"><%= jobs.models[i].get('keywords') %></span>

	<% } else if (typeof jobs.models[i].get('keywords') == 'array') { 
		for (var x = 0, len = jobs.models[i].get('keywords'); x < len; x++) { %>

			<span class="keyword"><%= jobs.models[i].get('keywords')[x] %></span>

		<% } 
	} else { %>

			<span class="keywords">No Keywords ( keywords == null :-S )</span>

	<% } %>
	<p><a href="#" class="remove-job" id="<%= jobs.models[i].get('_id') %>">Remove Job</a></p>
  </div><!-- .job -->
  <hr>
<% } %>