<nav id="menuBar" class="boxEffect clearfix">
  <ul></ul>
</nav>

<section id="single" class="job boxEffect container">

	<h1 class="title"><%= job.title %></h1>

	<h2 class="company"><%= job.company %></h2>

	<h3 class="salary">£<%= job.salary %>/yr</h2>

	<span class="tags"><%= job.tags %></span>

	<p class="desc"><%= job.description %></p>

</section>