	<% _.each(jobs, function (job) { %>

		<li class="job" data-id="<%= job._id %>">

			<div class="title"><%= job.title %></div>
			<div class="company"><%= job.company %></div>
			<div class="tags"><%= job.tags %></div>
			<div class="type"><%= job.type %></div>
			<div class="salary"><%= job.salary %></div>
			<div class="link"><a href="#jobs/<%= job._id %>">View &raquo;</a></div>

		</li><!-- .job <%= job._id %> -->
	 
	<% }); %>